/messages/node_modules
/messages/public/build
/messages/public/hot
/messages/public/storage
/messages/storage/*.key
/messages/vendor
/messages/.env
/messages/.env.backup
/messages/.env.production
/messages/.phpunit.result.cache
/messages/Homestead.json
/messages/Homestead.yaml
/messages/auth.json
/messages/npm-debug.log
/messages/yarn-error.log
/messages/.fleet
/messages/.idea
/messages/.vscode